@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  color: rgb(223, 223, 223);
  font-family: 'Verdana Pro Semi Bold', sans-serif;
}


div, p {
  line-height: 22px;
  font-size: 13px;
  font-weight: 500;
}

textarea:focus, input:focus, select:focus {
  outline: none;
}